/* CSS crunched with Crunch - http://crunchapp.net/ */
html,
body {
  font-size: 12pt;
  font-family: SeroCompPro, Open Sans, Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}
html {
  background: #e0e0e0 url('../images/bck.jpg') no-repeat center center / cover;
}
body {
  background: transparent;
}
img,
div,
table,
tr,
td,
p,
form,
h1,
h2,
h3,
h4,
h5,
h6,
a,
dl,
dt,
dd,
button,
input,
blockquote,
iframe,
hr {
  border-width: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: 0;
}
table,
tr,
td {
  border: 1px solid #e0e0e0;
}
td {
  padding: 5px;
}
p {
  margin: 0 0 20px 0;
}
address {
  font-style: normal;
}
ins {
  text-decoration: none;
}
header,
section,
footer,
article,
nav,
aside,
main {
  display: block;
}
a,
a:link,
a:active,
a:visited {
  color: #ffffff;
  outline: none;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
input.error {
  border: 1px solid #df265f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
textarea {
  background: #e0e0e0;
  border: none;
  height: 200px;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  font-size: 10pt;
}
.button {
  padding: 0 20px;
  color: #00b0ec;
  height: 50px;
  background: #ffffff;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16pt;
  min-width: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  margin: 0 auto;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.button:hover {
  color: #df265f;
}
.button[disabled="disabled"] {
  background: #cccccc;
  color: #8d8d8d;
}
input,
select {
  font-size: 12pt;
}
.block {
  display: block;
}
.iblock {
  display: inline-block;
  vertical-align: top;
}
.none {
  display: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.fnone {
  float: none;
}
.bx {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.grayf {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}
.grayfd {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
.ohidden {
  overflow: hidden;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.both {
  clear: both;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.normal {
  font-weight: normal;
}
.inormal {
  font-style: normal;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.utext {
  text-decoration: underline;
}
.ntext {
  text-decoration: none;
}
.uptext {
  text-transform: uppercase;
}
.ulclear {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cmargin {
  margin: 0 auto;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
input.error {
  background: #df265f;
}
small.error {
  color: red;
  display: block;
  clear: both;
  font-size: 10pt;
}
.pdbx {
  padding-left: 20px;
  padding-right: 20px;
}
.flcenter {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
body a.logo {
  background: url('../images/logo_h.svg') no-repeat left top / 100% auto;
  min-height: 107px;
  display: block;
}
body form {
  padding: 15px 40px 0;
  margin: -151px 0 0 -240px;
  background: url('../images/bck.svg') no-repeat center center / 100% auto;
  width: 480px;
  height: 304px;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  position: absolute;
  display: block;
  overflow: hidden;
}
body form h1 {
  margin-bottom: 10px;
  letter-spacing: -1px;
}
body form p {
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
}
body form p label {
  margin-bottom: 3px;
  display: block;
}
body form p small {
  margin-bottom: 5px;
  display: block;
}
body form p input[type="text"],
body form p input[type="password"] {
  font-family: SeroCompPro, Open Sans, Arial, Helvetica, sans-serif;
  color: #23238c;
  text-indent: 10px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
}
body form p input[type="checkbox"] {
  margin: 5px 10px 0 0;
  float: left;
  display: none;
}
body form p.error input[type="text"],
body form p.error input[type="password"] {
  color: #ffffff;
  background: #df265f;
}
body form p.chk label {
  width: auto;
  display: inline-block;
  vertical-align: top;
}
body form p.chk label:before {
  content: '';
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  margin: 0 10px 0 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
body form p.chk input[type="checkbox"]:checked + label:before {
  background: url('../images/check.svg') no-repeat center center / 12px 9px;
}
body form p a {
  padding: 0 23px 0 0;
  background: url('../images/exlink.svg') no-repeat right center / 18px 18px;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 820px) {
  body a.logo {
    background: url('../images/logo_v.svg') no-repeat center center / 206px 86px;
    width: 206px;
    height: 86px;
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media screen and (max-width: 520px) {
  body form {
    padding: 10px 20px 0;
    margin: -114px 0 0 -180px;
    width: 360px;
    height: 228px;
  }
  body form h1 {
    margin-bottom: 0;
    font-size: 18pt;
  }
  body form p {
    margin-bottom: 10px;
  }
  body form p label {
    margin-bottom: 2px;
    font-size: 10pt;
  }
  body form p small {
    margin-bottom: 2px;
    font-size: 9pt;
  }
  body form p input[type="text"],
  body form p input[type="password"] {
    height: 30px;
    font-size: 10pt;
  }
  body form p button {
    padding: 0 15px;
    height: 40px;
  }
  body form p.chk label:before {
    width: 18px;
    height: 18px;
  }
  body form p.chk input[type="checkbox"]:checked + label:before {
    background: url('../images/check.svg') no-repeat center center / 9px 7px;
  }
}
@media screen and (max-width: 360px) {
  body form {
    padding: 5px 15px 0;
    margin: -95px 0 0 -150px;
    width: 300px;
    height: 190px;
  }
  body form h1 {
    font-size: 16pt;
  }
  body form p {
    margin-bottom: 5px;
  }
  body form p label {
    font-size: 9pt;
  }
  body form p small {
    font-size: 8pt;
  }
  body form p input[type="text"],
  body form p input[type="password"] {
    height: 24px;
  }
  body form p button {
    padding: 0 10px;
    height: 32px;
  }
}
