@media screen and (max-width: 820px) {
	body {
		a.logo {
		 background: url('@{ip}logo_v.svg') no-repeat center center/206px 86px;
		 width: 206px;
		 height: 86px;
		 
		 .cmargin;
		 
		 margin-top: 15px;
		}
	}  
}

@media screen and (max-width: 520px) {
	body {
		form {
		 padding: 10px 20px 0;
		 margin: -114px 0 0 -180px;
		 width: 360px;
		 height: 228px;
		 
			h1 {
			 margin-bottom: 0;
			 
			 .fsize(18pt);
			}
			
			p {
			 margin-bottom: 10px;
			 
				label {
				 margin-bottom: 2px;
				 
				 .fsize(10pt);
				}
				
				small {
				 margin-bottom: 2px;
				 
				 .fsize(9pt);
				}
				
				input[type="text"],input[type="password"] {
				 height: 30px;
				 
				 .fsize(10pt);
				}
				
				button {
				 padding: 0 15px;
				 height: 40px;
				}
				
				&.chk {
					label {
						&:before {
						 width: 18px;
						 height: 18px;
						}
					}
					
					input[type="checkbox"]:checked + label:before {
					 background: url('@{ip}check.svg') no-repeat center center/9px 7px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 360px) {
	body {
		form {
		 padding: 5px 15px 0;
		 margin: -95px 0 0 -150px;
		 width: 300px;
		 height: 190px;
		 
			h1 {
			 .fsize(16pt);
			}
			
			p {
			 margin-bottom: 5px;
			 
				label {
				 .fsize(9pt);
				}
				
				small {
				 .fsize(8pt);
				}
				
				input[type="text"],input[type="password"] {
				 height: 24px;
				}
				
				button {
				 padding: 0 10px;
				 height: 32px;
				}
			}
		}
	}
}