.block {
 display: block;
}

.iblock {
 display: inline-block;
 vertical-align: top;
}

.none {
 display: none;
}

.fleft {
 float: left;
}

.fright {
 float: right;
}

.fnone {
 float: none;
}

.radius(@radius) {
 border-radius: @radius;
 -moz-border-radius: @radius;
 -webkit-border-radius: @radius;
 -ms-border-radius: @radius;
}

.tlr(@tlr) {
 border-top-left-radius: @tlr;
 -moz-border-top-left-radius: @tlr;
 -webkit-border-top-left-radius: @tlr;
 -ms-border-top-left-radius: @tlr;
}

.blr(@blr) {
 border-bottom-left-radius: @blr;
 -moz-border-bottom-left-radius: @blr;
 -webkit-border-bottom-left-radius: @blr;
 -ms-border-bottom-left-radius: @blr;
}

.trr(@trr) {
 border-top-right-radius: @trr;
 -moz-border-top-right-radius: @trr;
 -webkit-border-top-right-radius: @trr;
 -ms-border-top-right-radius: @trr;
}

.brr(@brr) {
 border-bottom-right-radius: @brr;
 -moz-border-bottom-right-radius: @brr;
 -webkit-border-bottom-right-radius: @brr;
 -ms-border-bottom-right-radius: @brr;
}

.gradient(@color1, @color2) {
 background: @color1;
 background: -moz-linear-gradient(top, @color1 0%, @color2 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2));
 background: -webkit-linear-gradient(top, @color1 0%,@color2 100%);
 background: -o-linear-gradient(top, @color1 0%,@color2 100%);
 background: -ms-linear-gradient(top, @color1 0%,@color2 100%);
 background: linear-gradient(to bottom, @color1 0%,@color2 100%);
 filter: e("progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 )");
}

.bx {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 -moz-background-clip:padding-box !important;
 -webkit-background-clip:padding-box !important;
 background-clip:padding-box !important;
}

.grayf {
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
 filter: gray; /* IE6-9 */
 -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
 -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
 -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayfd {
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
 -webkit-filter: grayscale(0%);
}

.ohidden {
 overflow: hidden;
}

.w100 {
 width: 100%;
}

.h100 {
 height: 100%;
}

.both {
 clear: both;
}

.bold {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

.normal {
 font-weight: normal;
}
 
.inormal {
 font-style: normal;
}

.italic {
 font-style: italic;
}

.lheight(@lheight: 20px) {
 line-height: @lheight;
}

.center {
 text-align: center;
}

.tleft {
 text-align: left;
}

.tright {
 text-align: right;
}

.utext {
 text-decoration: underline;
}

.ntext {
 text-decoration: none;
}

.uptext {
 text-transform: uppercase;
}

.valign(@valign: top) {
 vertical-align: @valign;
}

.cols(@colcount, @gap: 40px) {
 column-count: @colcount;
 -moz-column-count: @colcount;
 -webkit-column-count: @colcount;
 -ms-column-count: @colcount;
 -o-column-count: @colcount;
 -ms-column-count: @colcount;
 
 column-gap: @gap;
 -moz-column-gap: @gap;
 -webkit-column-gap: @gap;
 -o-column-gap: @gap;
 -ms-column-gap: @gap;
}

.rotate(@degree) {
 transform: rotate(@degree);
 -ms-transform: rotate(@degree);
 -moz-transform: rotate(@degree);
 -webkit-transform: rotate(@degree);
}

.ulclear {
 padding: 0;
 margin: 0;
 list-style: none;
}

.cmargin {
 margin: 0 auto;
}

.rel {
 position: relative;
}

.abs {
 position: absolute;
}

.fixed {
 position: fixed;
}

.static {
 position: static;
}

.zi(@zi) {
 z-index: @zi;
}

.fsize(@basefs: 12pt) {
 font-size: @basefs;
}

.lspacing(@lspacing: -1px) {
 letter-spacing: @lspacing;
}

input.error {
 background: @red;
}

small.error {
 color: red;
 
 .block;
 .both;
 .fsize(10pt);
}

.mx(@basew: 960px) {
 max-width: @basew;
}

.mn(@basew: 320px) {
 min-width: @basew;
}

.pdbx {
 padding-left: 20px;
 padding-right: 20px;
}

.flcenter {
 display: -webkit-flexbox;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center;
 justify-content: center;
}


@ip: "../images/";
@iap: "../assets/images/";

@step: 8.333%;

@basefs: 12pt;

@red: #df265f;
@lightblue: #00b0ec;
@blue: #23238c;
@lightgray: #ccc;
@gray: #e0e0e0;
@darkgray: #8d8d8d;
@white: #fff;
@black: #000;