@import url('normalize.less');
@import url('settings.less');

body { 
	a.logo {
	 background: url('@{ip}logo_h.svg') no-repeat left top/100% auto;
	 min-height: 107px;
	 .block;
	}
	
	form {
	 padding: 15px 40px 0;
	 margin: -151px 0 0 -240px;
	 background: url('@{ip}bck.svg') no-repeat center center/100% auto;
	 width: 480px;
	 height: 304px;
	 left: 50%;
	 top: 50%;
	 
	 .bx;
	 .abs;
	 .block;
	 .ohidden;
	 
		h1 {
		 margin-bottom: 10px;
		 .lspacing;
		}
		
		p {
		 margin-bottom: 15px;
		 .block;
		 .ohidden;
		 
			label {
			 margin-bottom: 3px;
			 .block;
			}
			
			small {
			 margin-bottom: 5px;
			 .block;
			}
			
			input[type="text"],input[type="password"] {
			 font-family: SeroCompPro, Open Sans, Arial, Helvetica, sans-serif;
			 color: @blue;
			 text-indent: 10px;
			 height: 40px;
			 
			 .w100;
			 .radius(4px);
			}
			
			input[type="checkbox"] {
			 margin: 5px 10px 0 0;
			 
			 .fleft;
			 .none;
			}
			
			&.error {
				input[type="text"],input[type="password"] {
				 color: @white;
				 background: @red;
				}
				
			}
			
			&.chk {
				label {
				 width: auto;
				 
				 .iblock;
				 
					&:before {
					 content: '';
					 width: 24px;
					 height: 24px;
					 border: 2px solid @white;
					 margin: 0 10px 0 0;
					 
					 .radius(4px);
					 .iblock;
					 .bx;
					}
				}
				
				input[type="checkbox"]:checked + label:before {
				 background: url('@{ip}check.svg') no-repeat center center/12px 9px;
				}
			}
			
			a {
			 padding: 0 23px 0 0;
			 background: url('@{ip}exlink.svg') no-repeat right center/18px 18px;
			 
			 .iblock;
			}
		}
	}
}

@import url('mobile.less');